/*   
 *    '   '    *       '    *        '
    /\  *      '    *   '      '   *
   /\/\     *        '    *      '
  /\/\/\     '   *        '      *    '  * 
 /\/\/\/\   *    '   *    '    *   '   * 
 |  -_- |      |     |   .   '     *  
*--|\/|--*     |_____|   |    *     '    *
   |/\|      * |     |   |    '     * 
   |  |        |     |   |   *      '     *  
*/

a {
    text-decoration: none;
}

header a {
    height: 0;
}

body {
    margin: 0;
    font-family: "monospace", sans-serif;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
@font-face {
    font-family: monospace;
    src: url(fonts/Montserrat/);

}

/* header */

#header-home {
    background-image: url(images/background-header.png);
    width: 100%;
    height: 713px;
    background-size: cover;
}

/* cantainer-header */

.cantainer {
    width: 75%;
    height: 100%;
    margin: auto;
    position: relative;
}

/* div-top-header */

.div-top-header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.div-top-header h1 {
    margin: 0;
    font-size: 15px;
    padding: 5px 15px;
    color: white;
}

/* div-left-header */

.div-left-header {
    display: flex;
    padding-top: 10px;
}

/* animation-ul-flag-icon-header */

@keyframes ul-flag-icon-header {
    0% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        transform: translateY(-30px);
    }
}

/* icon-flag-header */

.icon-flag-header {
    width: 20px;
    margin-top: 5px;
}

.div-top-header>ul>li:hover>ul {
    animation-name: ul-flag-icon-header;
    animation-duration: 0.7s;
    display: inline-block;
    animation-fill-mode: forwards;
}

/* a-top-flag-header */

.a-top-flag-header {
    margin-top: 5px;
}


/* ul-flag-icon-header */

.ul-flag-icon-header {
    padding-left: 0;
    margin-left: -15px;
    width: 50px;
    background-color: white;
    display: inline-block;
    display: none;
    visibility: hidden;
}

/* li-flag-icon-header */

.li-flag-icon-header {
    
    padding: 5px;
    margin-left: 9px;
    display: inline-block;
}

.icon-flag-header.top {
    display: flex;
}

/* div-right-header */

.div-right-header {
    display: flex;
    padding-top: 10px;
}

/* icon-menu icon-search */

.icon-search,
.icon-menu {
    width: 25px;
}

.a-icon-search,
.a-icon-menu {
    padding: 0 10px;
}

/* ul & li header */

.div-top-header>div>ul>li:hover>ul{
    display: inline-block;
    animation-name: ul-flag-icon-header;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.div-top-header>div>ul>li>a>h1{
    padding-bottom: 20px;
}

.div-top-header>div>ul{
    position: relative;
}

.div-top-header>div>ul>li>ul{
    position: absolute;
    left: 0;
    top: 170%;
    display: none;
}

.div-top-header>div>ul>li>ul>a>li{
    color: #000000;
    padding: 20px 120px 20px 20px;
    width: 100px;
    background-color: rgb(245, 245, 245);
}

.div-top-header>div>ul>li>ul>a>li:hover{
    background-color: white;
}

/* animation-rocket */

@keyframes rocket {
    0% {}

    99.5% {
        opacity: 1;
        transform: translate(400px, -800px);
    }

    100% {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}

/* rocket-header */

.rocket-header {
    width: 20%;

    position: absolute;
    right: 0%;
    top: 76.4%;

    animation-name: rocket;
    animation-duration: 20s;
    animation-fill-mode: forwards;
}

/* animation-Mountain */

@keyframes Mountain {
    0% {}

    100% {
        transform: translate(-20px, 100px);
    }
}

/* Mountain-header */

.Mountain-header {
    width: 450px;

    position: absolute;
    right: 10%;
    top: 5%;

    animation-name: Mountain;
    animation-duration: 15s;
    transition: all;
    animation-fill-mode: forwards;
}

/* div-main-text-header */

.div-main-text-header{
    position: absolute;
    top: 25%;
    left: 30%;
}

.div-main-p-header{
    margin-top: 30px;
}


/* animation>years&ofaction */

@keyframes years-ofaction {
    0%{
        width:0px;
    }
    100%{
        width: 400px;
        transform: translateX(-200px);
        opacity: 1;
    }
}

/* svg-10years%ofaction */

.svg-10years{
    overflow: hidden;
    animation-name: years-ofaction;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

    width: 400px;
    height: 100px;

}

.svg-ofaction{
    opacity: 0;
    overflow: hidden;
    animation-name: years-ofaction;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
}

/* animation>paragraph (header) */

@keyframes paragraph {
    0%{
        width: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        width: 320px;
        opacity: 1;
        transform: translateX(-200px);
    }
}

.div-main-p-header{
    margin-top: 30px;
}

.div-main-p-header>div:nth-of-type(1){
    animation-name: paragraph;
    animation-duration:1s ;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    width: 320px;
}
.div-main-p-header>div:nth-of-type(2){
    animation-name: paragraph;
    animation-duration:1s ;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.div-main-p-header>div:nth-of-type(3){
    animation-name: paragraph;
    animation-duration:1s ;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;  
    opacity: 0;
}

/* what-we-do start.................. */
main .container{
    width: 1200px;
    margin: 0 auto;
}
#what-we-do{
    background-image: url(image/block_bg.jpg);
    background-size: contain;
    background-size: cover;
    background-position: center;
    height: 1000px;
    line-height: 30px;
}
/* #what-we-do>.container{
   width: 1200px;
   margin: 0 auto;
   } */
.title-what-we-do{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
   padding-bottom: 90px;
    word-spacing: 4px;
    color: #3e3b51;
}
.title-what-we-do>span:nth-of-type(2){
    font-weight: bold;
    margin-left: 18px;
}
.Making-It-Brilliant{
    width: 500px;
    height: 250px;
    padding-left: 30px;
    margin-bottom: 20px;
    padding-top: 30px;
}
.Making-It-Brilliant>h4{
    font-size: 30px;
   
}
.Making-It-Brilliant p{
    font-size: 20px;
    word-break: keep-all;
    /* line-height: 30px; */
    opacity: 0.5;
}
.box-what-we-do{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 40px;
}
.box-what-we-do>div{
    width: 350px;
    height: 370px;
    text-align: center;
    background-color: rgb(240, 243, 242);
    transition: all .3s;
    position: relative;
}
.box-what-we-do>div:hover{
    background-color:#153559;
}
.box-what-we-do>div:hover h4{
    color: #ffff;
}
.box-what-we-do>div:hover p{
    color: #ffff;
    opacity: .8;
}
.box-what-we-do>div a{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.box-what-we-do>div>div{
    width: 300px;
    height: 310px;
    margin: 0 auto;
    padding: 20px;
}
.box-what-we-do svg{
    width: 100px;
    margin-top: 30px;
}
.box-what-we-do>div:hover svg{
    color: aquamarine;
}
.box-what-we-do h4{
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box-what-we-do p{
    font-size: 18px;
    opacity: 0.5;
}
/* what-we-do end...................... */

/* latest works START..................... */
#latest-works{
    background-image: url(image/pf-rave.jpg);
    color: rgb(255, 255, 255);
}
.title-latest-works{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
   padding-bottom: 90px;
}
.title-latest-works span:nth-of-type(2){
    font-weight: bold;
    margin-left: 20px;
}
/* box start🎊🎉🎉✨✨🧨 */
.box-latest-works{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 110px;
}
.box-latest-works>div{
    width: 400px;
    height: 252px;
    position: relative;
}
.box-latest-works>div img{
    width: 100%;
    height: 100%;
}
.box-latest-works>div>div:first-of-type{
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-55%,-55%); */
    /* bottom: 0;
    right: 0; */
    opacity: 1;
    width: 0px;
    height: 0px;
    transition: all .2s linear;
    border-radius: 100%;
}
.box-latest-works>div:hover div:first-of-type{
    background:linear-gradient(90deg, rgba(6, 146, 227, 0.546),  rgba(6, 146, 227, 0.546) 50%,rgba(74, 234, 221, 0.594) 100%) ;
     opacity: 1;
     position: absolute;
    top: 0;
    left: 0;
    transform: translate(0,0);
    /* bottom: 0;
    right: 0; */
    width: 400px;
    height: 250px;
    border-radius: 0;
}
.box-latest-works>div>div:nth-of-type(2) svg{
transition: all .2s ease-in-out;
transform: translate(20px,-60px);
opacity: 0;
margin-right: 5px;
border-bottom: 1 solid #ffff;
vertical-align: middle;
}
.box-latest-works>div:hover>div:nth-of-type(2) svg{
    opacity: 1;
    transform: translate(20px,-230px);
}
.box-latest-works>div>div:nth-of-type(2) svg:nth-of-type(1){
    transition-delay: .02s;
}
.box-latest-works>div>div:nth-of-type(2) svg:nth-of-type(2){
    transition-delay: .04s;
}
.box-latest-works>div>div:nth-of-type(2) svg:nth-of-type(3){
    transition-delay: .06s;
}
.box-latest-works>div>div:nth-of-type(2) svg:nth-of-type(4){
    transition-delay: .08s;
}
.svg-border{
    top: 73px;
    left: 17px;
    position: absolute;
    height: 3px;
    width: 0;
background-color: #ffff;
opacity: 0;
transition: width .2s ease-out;
}
.box-latest-works>div:hover .svg-border{
opacity: 1;
width: 90%;
}
.box-latest-works>div>div:nth-of-type(4){
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 18px;
}
/* box end🎇🎆🎆🎈🎈🎈🎈🎈🎈 */
/* input START................... */
#latest-works .input-load-more{
    padding-top: 50px;
    padding-bottom: 150px;
    text-align: center;
}
#latest-works input{
    padding: 15px 30px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    background-color: rgb(206, 147, 216);
    color: #ffff;
    transition: all .2s;
    transition-delay: .1s;
}
/* input END...................... */
#latest-works input:hover{
    background-color: #ffff;
    color: rgb(206, 147, 216);
}
/* section LATEST WORKS end.......... */
/* section our process start.......... */
#our-process{
    background: url(image/service_page_bg_2.webp);
    background-position: center;
    background-size: cover;
}
.title-our-process{
    text-align: center;
    font-size: 50px;
    margin: 0 auto ;
   color: #3e3b51;
   padding-top: 10%;
}
.title-our-process span:nth-of-type(2){
    font-weight: bold;
    margin-left: 20px;
}
#our-process>.container>div:nth-of-type(2){
    width: 45%;
    height: 111px;
    margin: 5% auto 3% auto;
    text-align: center;
    line-height: 37px;
    font-size: 20px;
}
#our-process>.container>div:nth-of-type(2) p{
    opacity: .5;
}
.box{
    display: flex;
    justify-content: space-between;
    padding-bottom: 13%;
}
.box>div{
    width: 300px;
    height: 219px;
    position: relative;
}
.box>div>div{
width: 50%;
margin: 0 auto;
}
.box>div h4{
    position: absolute;
    top: 25px;
    left: 90px;
    font-size: 22px;
    color: #99a9b5;
    font-weight:  700;
}
.box>div:first-of-type h4{
    position: absolute;
    left: 50px;
}
.box>div p{
    text-align: center;
    opacity: .5;
    line-height: 29px;
}
/* sectin our pricess end🎇🎇🎇🎇🎇🎇🎇🎉 */
