:root {
  scroll-behavior: smooth;
}

/* General */
@font-face {
  font-family: myFirstFont;
  src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
  --main-color: rgb(255, 255, 255);
}

body {
  margin: 0;
  background-color: rgb(10, 10, 61);

  font-family: myFirstFont;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  position: relative;
}

a {
  font-family: myFirstFont;
  text-decoration: none;
  color: white;
}
/* ..............................................div-header-top */
header{
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
}
header a {
  height: 0;
  display: inline-block;
  margin: 0;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  list-style: none;
}



/* div-top-header */

#div-top-header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

#div-top-header h1 {
  margin: 0;
  font-size: 15px;
  padding: 5px 15px;
  color: white;
}

/* div-left-header */

.div-left-header{
  position: absolute;
  left: 0;
  display: flex;
}

/* icon-flag-header */

.icon-flag-header {
  width: 20px;
  margin-top: 5px;
}

#div-top-header>ul>li:hover>ul {
  animation-name: ul-flag-icon-header;
  animation-duration: 0.7s;
  display: inline-block;
  animation-fill-mode: forwards;
}

/* a-top-flag-header */

.a-top-flag-header {
  margin-top: 5px;
}


/* ul-flag-icon-header */

.ul-flag-icon-header {
  padding-left: 0;
  margin-left: -15px;
  width: 50px;
  background-color: white;
  display: inline-block;
  display: none;
  visibility: hidden;
}

/* li-flag-icon-header */

.li-flag-icon-header {

  padding: 5px;
  margin-left: 9px;
  display: inline-block;
}

.icon-flag-header.top {
  display: flex;
}

/* div-right-header */

.div-right-header {
  display: flex;
  padding-top: 10px;
  position: absolute;
  right: 0;
}

/* icon-menu icon-search */

.icon-search,
.icon-menu {
  width: 25px;
}

.a-icon-search,
.a-icon-menu {
  padding: 0 10px;
}

/* ul & li header */

.li-main-icon-flag{
  padding-bottom: 30px;
  margin-top: -14px;
}

#div-top-header>div>ul>li{
  padding-bottom: 30px;
}

#div-top-header>div>ul>li:hover>ul {
  display: inline-block;
  animation-name: ul-flag-icon-header;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

#div-top-header>div>ul>li>a>h1 {
  padding-bottom: 20px;
}

#div-top-header>div>ul {
  position: relative;
}

#div-top-header>div>ul>li>ul {
  position: absolute;
  left: 0;
  top: 120%;
  display: none;
}

#div-top-header>div>ul>li>ul>a>li {
  color: #000000;
  padding: 20px 120px 20px 20px;
  width: 150px;
  background-color: rgb(245, 245, 245);
  font-size: 15px;
  font-weight: 500;
}

#div-top-header>div>ul>li>ul>a>li:hover {
  background-color: white;
}
/* animation-ul-flag-icon-header */

@keyframes ul-flag-icon-header {
  0% {
      opacity: 0;
  }

  100% {
      visibility: visible;
      transform: translateY(-30px);
  }
}


/* ..............................................div-header-top */





/* section-header */
/* header {
  background-color: rgb(125, 20, 146);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: inline-flex;
  align-items: center;
}

nav ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

nav li {
  display: inline-flex;
  padding: 10px;
  position: relative;
  width: max-content;
  justify-content: center;
}

img {
  width: 100px;
  height: 50px;
} */

/* header level 2 */
/* 
header nav > ul > li > ul {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;

  opacity: 0;
  background-color: white;
  visibility: hidden;

  transition-property: all;
  transition-delay: 3s;
  transition-duration: 4s;
}

header nav > ul > li:hover a{
  opacity: 1;
  visibility: visible;
}

header nav > ul > li > ul  > li > ul {
  display: none;
  position: absolute;
  background-color: aliceblue;

  
} */



/* section-1 */

#our-blogs {
  background: url("photos/3-7.webp") 0 0 fixed;
  background-size: auto;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position-x: center;
  background-attachment: local;
  width: 100%;
  height: 800px;
  color: rgb(255, 255, 255);
}

.our-blog {
  padding: 20% 0;
  font-family: myFirstFont;
}

.our-blog span {
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-weight: 200;
  margin-bottom: 20px;
}

.our-blog span > span {
  font-weight: 700;
  text-indent: 50px;
}

.our-blog p {
  font-weight: 200;
  width: 1000px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

/* section-gridbox */
#gridbox {
  background: url(photos/1-1.webp);
  background-origin: border-box;
  background-size: auto;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  height: 1000px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-rows: minmax(100px, auto) minmax(max-content, 2fr)
    minmax(20%, 80vmax);
}

.img {
  position: relative;
  box-shadow: 2px -90px 20px -2px rgba(94, 94, 94, 0.438);
}

.img a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.p1 {
  background: url(photos/01.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-end: span 5;
  grid-row-end: span 4;
}

.p2 {
  background: url(photos/02.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-end: span 3;
}

.p3 {
  background: url(photos/03.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-end: span 4;
}

.p4 {
  background: url(photos/04.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-end: span 8;
}

.p5 {
  background: url(photos/05.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-end: span 4;
}

.p6 {
  background: url(photos/07.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-end: span 4;
}

.p7 {
  background: url(photos/06.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: span 4;
}

.p8 {
  background: url(photos/10-1.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: span 6;
}

.p9 {
  background: url(photos/09.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-end: span 4;
}

.p10 {
  background: url(photos/08.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-end: span 4;
}

.p11 {
  background: url(photos/11-1.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-end: span 6;
}

.p12 {
  background: url(photos/13-1.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-end: span 4;
}

.p13 {
  background: url(photos/12-1.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 14;
  grid-row-end: span 5;
}

.p14 {
  background: url(photos/14.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position-x: center;

  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 19;
  grid-row-end: span 5;
}

/* text position */

.text-position {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}

/* .text-position a,span{

  margin-top: 200px;

} */

/* overlay animation */

.overlay:hover .test-overlay {
  background: linear-gradient(
    90deg,
    rgba(253, 29, 29, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
}

.test-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition-duration: 5s;
  transition-delay: 3s;
  transition-timing-function: ease-in-out;
}

.overlay {
  transition-duration: 5s;
  transition-timing-function: ease-in-out;
}

.overlay:hover {
  animation: zoomInOut 2s;
}

.text-overlay {
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color);
  font-family: myFirstFont;
  text-align: center;
}

.text-overlay p {
  width: 90%;
}
.img {
  overflow: hidden;
}

.img:hover .text-overlay {
  transform: translateY(150%);
  transition: 0.7s;
}

/* WORKING */

/* #working {
  background: url(photos/map.png);
  width: 100%;
  height: 690px;
  position: relative;
  top: 1150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.we-here {
  background-color: aliceblue;
  opacity: .6; 

}

#working > div{
  display: flex;
  align-items: center;
}

#working div div{
  display: flex;
  flex-direction: column;

}

.fa-clock {
  font-size: 70px;
  margin-right: 10px ;
}

.fa-building {
  font-size: 70px;
  margin-right: 10px ;
}

 */



 
/* Footer Start...................................................... */
/* Map Section............................................... */

footer{
  margin-top: 1249px;
}

#map {
  position: relative;
  height: 800px;
}

#map iframe {
  width: 99.8%;
  height: 100%;
}

#map .whiteBackground {
  background-color: var(--white);
  opacity: 0.95;
  width: 100%;
  height: 30%;
  position: absolute;
}

#map .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#map span {
  color: rgb(165, 165, 165);
}

#map img {
  width: 70%;
}

#map .hoursHere {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#map .hoursHere>div:first-of-type {
  width: 20%;
  margin-bottom: 7%;
}



/* Info Section............................................... */

#info {
  background-image: radial-gradient(circle, rgba(101, 52, 146, 0.911),
          hsl(240, 35%, 22%), rgba(101, 52, 146, 0.911));
  height: 750px;
}

#info .container {
  height: 750px;
  width: 1322px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#info .container>div {
  width: 30%;
  height: 100%;
  margin-top: 25%;
}

/* Gem Logo */

#info img {
  width: 42%;
  margin-top: 10%;
}

#info .gemLogo p {
  width: 100%;
  margin-top: 15%;
}

/* Email Us + News Letter > Input */

#info input:focus,
#info textarea:focus {
  color: var(--white);
}

#info form>input,
#info textarea,
#info .newsletter>input {
  background-color: rgb(102, 83, 135);
  border: 1px solid rgb(162, 156, 183);
  outline: none;
  padding: 4%;
  border-radius: 5px;
  font-family: 'Montserrat';
  width: 100%;
  font-size: 60%;
  margin-bottom: 8%;
}

/* Email Us */

#info textarea {
  resize: both;
  overflow: hidden;
  max-width: 100%;
}

#info .emailUs button {
  width: 100%;
  outline: none;
  padding: 4%;
  border-radius: 5px;
  border: none;
  background-color: #ce93d8;
  color: var(--white);
  transition: background-color 0.25s, color 0.25s;
}

#info .emailUs button:hover {
  background-color: rgb(169, 184, 195);
  color: hsl(240, 35%, 22%);
}

/* News Letter */

#info .newsletter p {
  margin-bottom: 6%;
}

#info .stick {
  position: relative;
}

#info .newsletter button {
  background-image: url(photos/forward-svgrepo-com.svg);
  background-color: #ce93d8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 0px 5px 5px 0px;
  border: none;
  padding: 6%;
  transition: background-color 0.25s;
  position: absolute;
  top: -72px;
  right: -30px;
}

#info .newsletter button:hover {
  background-color: #350058;
}

#info .newsletter span {
  opacity: 0.5;
}

/* Copy Right Section............................................... */

#cRight {
  background-color: rgb(14, 11, 44);
}

#cRight .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 150px;
}

/* Codex */
#cRight .codex,
.links,
.icons {
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
  color: #99a9b5;
  ;
}

#cRight .codex span>a {
  color: #ce93d8;
  font-size: 100%;
}


#cRight .codex>span {
  /* color:  #428bca; */
}

#cRight .codex span>a:hover {
  text-decoration: underline;
}

/* Links */
#cRight .links {
  width: 45%;
}



#cRight .links a {
  /* color:  #428bca; */
  transition: color 0.25s;
}

#cRight .links a:hover {
  color: #ce93d8;

}

#cRight .links a {
  border-right: 1px solid #428bca;
  padding: 0% 5% 0% 5%;
}

#cRight .links a:last-of-type {
  border: none;
}

/* Icons */

#cRight .icons a svg {
  transition: fill .5s;
}

#cRight .icons a svg:hover {
  fill: #ffff;
}

#cRight .icons a:nth-of-type(4) svg>path:hover {
  fill: #ffff;
}


:root {
  --white: #fcfcfc;
}


footer p,
footer a,
footer span,
footer li,
footer h1,
footer h2,
footer h3 {
  color: var(--white);
  font-family: 'Montserrat';
  text-decoration: none;
}

footer h2 {
  font-size: 100%;
}

footer h4 {
  font-family: 'Montserrat';
}

footer p,
footer a,
footer span,
footer li {
  font-size: 57.75%;
}

footer p {
  line-height: 200%;
  margin: 0%;
}


/* section fixed */

#section-fixed {

  position: fixed;
  right: 0;
  bottom: 15%;
}

#section-fixed>div {
  text-align: right;
}

#section-fixed>div>div:nth-of-type(1) {
  display: inline-block;
  width: 200px;
  height: 60px;
  background-color: #06060f86;
  text-align: center;
  vertical-align: middle;
}

#section-fixed>div>div:nth-of-type(1) p {
  font-size: 13px;
  margin-top: 17px;
  color: white;
}

#section-fixed>div>div:nth-of-type(2) {
  display: inline-block;
  width: 90px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  vertical-align: middle;
  text-align: center;
  position: relative;

}

#section-fixed>div>div:nth-of-type(2):hover {
  transition-duration: 0.5s;
  background-color: white;
}

#section-fixed>div>div:nth-of-type(2) span {
  color: white;
  position: absolute;
}

#section-fixed>div>div:nth-of-type(2) span:nth-of-type(1) {
  top: 15%;
  right: 25%;
}

#section-fixed>div>div:nth-of-type(2) span:nth-of-type(2) {
  top: 50%;
  right: 15%;
}

#section-fixed>div>div:nth-of-type(2):hover span {
  transition-duration: 0.5s;
  color: black;
}

#section-fixed>div>div:nth-of-type(3) {
  width: 90px;
  height: 60px;
  background-color: #00bcd4;
  text-align: center;
  display: inline-block;
}

#section-fixed>div>div:nth-of-type(3):hover {
  background-color: black;
  transition-duration: 0.5s;
}

#section-fixed>div>div:nth-of-type(3):hover span {
  color: white;
  transition-duration: 0.5s;
}

#section-fixed>div>div:nth-of-type(3)>span {
  font-size: 14px;
}

#section-fixed>div>div:nth-of-type(4)>a {
  width: 60px;
  height: 60px;
  background-color: #06060f86;
  display: inline-block;
  margin-right: 30px;
  text-align: center;

}


#section-fixed>div>div:nth-of-type(4)>a>svg {
  margin-top: 24px;
}

/* svgs section-fixed  ......... */
#section-fixed>div>svg:nth-of-type(1) {
  margin: 0px 0 -8px -4px;
}

#section-fixed>div>div:nth-of-type(3)>svg {
  margin-top: 10px;
}