/* General */

:root {
   --white: #fcfcfc;
      scroll-behavior: smooth;
  
}

body {
   margin: 0%;
   background-color: hsl(240, 35%, 22%);
   font-family: "monospace", sans-serif;

}

* {
   box-sizing: border-box;
}

.container {
   width: 1200px;
   margin: 0 auto;
}

p,
a,
span,
li,
h1,
h2,
h3 {
   color: var(--white);
   font-family: 'Montserrat';
   text-decoration: none;
}

h2 {
   font-size: 100%;
}

h4 {
   font-family: 'Montserrat';
}

p,
a,
span,
li {
   font-size: 57.75%;
}

p {
   line-height: 200%;
   margin: 0%;
}


header a {
   height: 0;
}

header ul {
   margin: 0;
   padding: 0;
}

header li {
   list-style: none;
}


/* ....................................................................................................... */


@font-face {
   font-family: monospace;
   src: url(/fonts/Montserrat/);
}

/* header */

header {
   background: url(images/bg-header.jpg);
   background-size: cover;
   width: 100%;
   height: 750px;
   position: absolute;
   z-index: 1;
}

.container {
   width: 1200px;
   height: 100%;
   margin: 0 auto;
   position: relative;
}

/* div-top-header */

.div-top-header {
   display: flex;
   justify-content: space-between;
   padding-top: 15px;
}

.div-top-header h1 {
   margin: 0;
   font-size: 15px;
   padding: 5px 15px;
   color: white;
}

/* div-left-header */

.div-left-header {
   display: flex;
   padding-top: 10px;
}

/* animation-ul-flag-icon-header */

@keyframes ul-flag-icon-header {
   0% {
      opacity: 0;
   }

   100% {
      visibility: visible;
      transform: translateY(-30px);
   }
}

/* icon-flag-header */

.icon-flag-header {
   width: 20px;
   margin-top: 5px;
}

.div-top-header>ul>li:hover>ul {
   animation-name: ul-flag-icon-header;
   animation-duration: 0.7s;
   display: inline-block;
   animation-fill-mode: forwards;
}

/* a-top-flag-header */

.a-top-flag-header {
   margin-top: 5px;
}

/* ul-flag-icon-header */

.ul-flag-icon-header {
   padding-left: 0;
   margin-left: -15px;
   width: 50px;
   background-color: white;
   display: inline-block;
   display: none;
   visibility: hidden;
}

/* li-flag-icon-header */

.li-flag-icon-header {
   padding: 5px;
   margin-left: 9px;
   display: inline-block;
}

.icon-flag-header.top {
   display: flex;
}

/* div-right-header */

.div-right-header {
   display: flex;
   padding-top: 10px;
}

/* icon-menu icon-search */

.icon-search,
.icon-menu {
   width: 25px;
}

.a-icon-search,
.a-icon-menu {
   padding: 0 10px;
}

/* ul & li header */

.div-top-header>div>ul>li:hover>ul {
   display: inline-block;
   animation-name: ul-flag-icon-header;
   animation-duration: 0.7s;
   animation-fill-mode: forwards;
}

.div-top-header>div>ul>li>a>h1 {
   padding-bottom: 20px;
}

.div-top-header>div>ul {
   position: relative;
}

.div-top-header>div>ul>li>ul {
   position: absolute;
   left: 0;
   top: 170%;
   display: none;
}

.div-top-header>div>ul>li>ul>a>li {
   color: #000000;
   padding: 20px 120px 20px 20px;
   width: 100px;
   background-color: rgb(245, 245, 245);
}

.div-top-header>div>ul>li>ul>a>li:hover {
   background-color: white;
}

/* div-span-header */

.div-span-header {
   text-align: center;
   margin-top: 200px;
}

.div-span-header svg:nth-of-type(2) {
   margin-left: -50px;
}

.div-span-header p {
   color: white;
   font-size: 25px;
   margin-top: 50px;
}

/* div-felsh-header */

.div-felsh-header {
   text-align: center;
   margin-top: 550px;
   
}

.div-felsh-header:link {
   transition-delay: 2s;
}


/* Landing Section ...............................................*/

#landing {
   background-image: url(img/landing\ background.jpg);
   background-repeat: no-repeat;
   background-position: center;
}

#landing .container {
   height: 1000px;
   box-sizing: border-box;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#landing .container h1 {
   font-size: 550%;
}

#landing .container h1>span {
   font-weight: lighter;
   font-size: 100%;
}

#landing .container p {
   font-size: 150%;
   text-align: center;
   line-height: 200%;
   margin-bottom: 20%;
}

/* Menu Section .................................................*/

#menu .container {
   height: 100px;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

/* Menu Left */

#menu .menuL {
   width: 30%;
}

#menu .container ul {
   display: inline-block;
   padding: 0%;
   width: 100%;
}

#menu .container li {
   display: inline-block;
   padding: 0.5% 1%;
}

#menu .container span {
   font-size: 100%;
}

#menu .menuL a {
   font-size: 100%;
   text-decoration: none;
   color: rgb(240, 126, 255);
   transition: color 0.35s;
}

#menu .menuL li:nth-of-type(2) {
   border-left: 1px solid var(--white);
   border-right: 1px solid var(--white);
}

/* Menu Right */

#menu .menuR {
   width: 12%;
}

#menu .menuR a {
   text-decoration: none;
   padding: 3%;
   color: #ff3333;
   font-size: 100%;
   vertical-align: middle;
   transition: color 0.35s;
}

#menu .menuR svg {
   vertical-align: middle;
   transition: fill 0.35s;
}

#menu .menuR a:hover svg,
#menu a:hover {
   fill: rgb(104, 104, 104);
   color: rgb(104, 104, 104);
}

/* Headphone, pen, keyboard Section = Animations......................*/

#headphone .container,
#pen .container,
#keyboard .container {
   height: 600px;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#headphone>.container>div,
#pen>.container>div,
#keyboard>.container>div {
   width: 590px;
   height: 500px;
}

#headphone  .imgBehind {
background-image: url(img/headphone.jpg);
}

#pen .imgBehind {
   background-image: url(img/pen.jpg);
animation-delay: 0.15s;
}

#keyboard .imgBehind {
   background-image: url(img/keyboard.jpg);
}

/* Fall Animation */

.imgBehind {
   position: relative;
   animation: up 3s forwards;
   opacity: 1;
   background-size: cover;
}

.imgFront {
   background-color: rgba(65, 27, 100, 0.603);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
}

.imgBehind:hover .imgFront {
   opacity: 1;
}

.imgBehind:hover .imgFront svg {
   animation: fall 0.65s;
}

.imgFront svg {
   margin: 35% 45%;
}

@keyframes fall {

   0% {
      margin: 0% 45%;
   }

   100% {
      margin: 35% 45%;
   }
}

/* Up  Animation */

@keyframes up {

   from {
      opacity: 0;
      transform: translateY(15%);
   }

   to {
      opacity: 1;
      transform: translateY(0%);
   }
}

/* Headphone Section .................................................*/


#headphone ul {
   list-style-image: url(img/pink\ next\ icon.svg);
   padding-left: 3%;
   margin-top: 2%;
}

#headphone ul>li {
   font-size: 100%;
   padding: 0%;
}

/* Pen Section .................................................*/

#pen .paragraphs {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   margin-bottom: 4%;
}

#pen .paragraphs>div {
   width: 48%;
}

#pen .flexible {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#pen .hexagon {
   width: 200px;
   height: 72px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 70px;
   background-image: url(img/hexagon\ final.png);
}

/* Keyboard Section .................................................*/

#keyboard {
   margin-bottom: 2%;
}

#keyboard ul {
   list-style: none;
   padding: 0%;
   counter-reset: list;
   margin-top: 10%;
   box-sizing: content-box;
}

#keyboard ul>li {
   font-size: 130%;
   border: 1px solid rgba(18, 102, 105, 0.534);
   padding: 3%;
}

#keyboard ul li::before {
   margin-right: 6%;
   counter-increment: list;
   content: counter(list);
   color: var(--white);
   border-radius: 50%;
   padding: 4px 15px;
}

#keyboard ul li:nth-of-type(1)::before {
   background-color: rgb(246, 180, 255);
   padding: 4px 18px;
}

#keyboard li:nth-of-type(1) span {
   color: rgb(246, 180, 255);
}

#keyboard ul li:nth-of-type(2)::before {
   background-color: rgb(158, 164, 255);
}

#keyboard li:nth-of-type(2) span {
   color: rgb(158, 164, 255);
}

#keyboard ul li:nth-of-type(3)::before {
   background-color: rgb(210, 155, 255);
}

#keyboard li:nth-of-type(3) span {
   color: rgb(210, 155, 255);
}

/*  li appearing Animation */

#keyboard ul>li:nth-of-type(1) {
   animation: appearing 2s forwards;
   opacity: 0;
}

#keyboard ul>li:nth-of-type(2) {
   animation: appearing 2s 0.5s forwards;
   opacity: 0;
}

#keyboard ul>li:nth-of-type(3) {
   animation: appearing 2s 1s forwards;
   opacity: 0;
}


@keyframes appearing {
   from {
      opacity: 0;
      transform: translateY(60%);
   }

   to {
      opacity: 1;
      transform: translateY(0%);
   }
}

/* media Section .................................................*/

#media .container {
   height: 250px;
}

/* media tags */

#media .mediaTags {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   width: 70%;
   margin-bottom: 6%;
}

#media .tagBackground {
   background-image: url(img/tag\ final.png);
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   width: 10%;
   text-align: center;
}

#media .mediaTags a {
   font-size: 50%;
   text-decoration: none;
   transition: color 0.25s;
   vertical-align: middle;
}

#media .mediaTags a:hover {
   color: hsl(240, 35%, 22%);
}

/* media icons */

#media svg {
   transition: fill 0.25s;
}

#media .mediaIcons a:not(a:last-of-type) {
   margin-right: 1%;
}

#media .mediaIcons a:nth-of-type(1) svg:hover {
   fill: rgb(201, 38, 38);
}

#media .mediaIcons a:nth-of-type(2) svg:hover {
   fill: rgb(60, 79, 255);
}

#media .mediaIcons a:nth-of-type(3) svg:hover {
   fill: rgb(37, 88, 95);
}

#media .mediaIcons a:nth-of-type(4) svg:hover {
   fill: rgb(212, 31, 70);
}

#media .mediaIcons a:nth-of-type(5) svg:hover {
   fill: rgb(4, 119, 172);
}

#media .mediaIcons a:nth-of-type(6) svg:hover {
   fill: rgb(97, 40, 255);
}




/* Admin Section .................................................*/


#admin {
   margin-bottom: 2%;
}

#admin .container {
   height: 300px;
   background-color: rgb(63, 63, 100);

   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

/* admin section > profile  */

#admin .profile {
   clip-path: circle();
   width: 10%;
   margin-bottom: 8%;
}

#admin img {
   width: 100%;
   vertical-align: middle;
}

/* admin section > paragraph */

#admin .adminP {
   width: 81%;
   margin-bottom: 4%;
}

/* 
#admin .adminP h3 {
   margin-bottom: 2%;
} */

#admin .adminP h3>span {
   font-weight: normal;
}

#admin .adminP a {
   text-decoration: none;
   color: rgb(240, 126, 255);
   transition: color 0.35s;
}

#admin .adminP svg {
   transition: fill 0.35s;
}

#admin .adminP a:hover,
#admin .adminP a:hover svg {
   fill: rgb(104, 104, 104);
   color: rgb(104, 104, 104);
}

/* Footer Start...................................................... */
/* Map Section............................................... */

#map {
   position: relative;
   height: 800px;
}

#map iframe {
   width: 100%;
   height: 100%;
}

#map .whiteBackground {
   background-color: var(--white);
   opacity: 0.95;
   width: 100%;
   height: 30%;
   position: absolute;
}

#map .container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#map span {
   color: rgb(165, 165, 165);
}

#map img {
   width: 70%;
}

#map .hoursHere {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

#map .hoursHere>div:first-of-type {
   width: 20%;
   margin-bottom: 7%;
}



/* Info Section............................................... */

#info {
   background-image: radial-gradient(circle, rgba(101, 52, 146, 0.911),
         hsl(240, 35%, 22%), rgba(101, 52, 146, 0.911));
   height: 750px;
}

#info .container {
   height: 750px;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#info .container>div {
   width: 30%;
   height: 100%;
   margin-top: 25%;
}

/* Gem Logo */

#info img {
   width: 42%;
   margin-top: 10%;
}

#info .gemLogo p {
   width: 100%;
   margin-top: 15%;
}

/* Email Us + News Letter > Input */

#info input:focus,
#info textarea:focus {
   color: var(--white);
}

#info form>input,
#info textarea,
#info .newsletter>input {
   background-color: rgb(102, 83, 135);
   border: 1px solid rgb(162, 156, 183);
   outline: none;
   padding: 4%;
   border-radius: 5px;
   font-family: 'Montserrat';
   width: 100%;
   font-size: 60%;
   margin-bottom: 8%;
}

/* Email Us */

#info textarea {
   resize: both;
   overflow: hidden;
   max-width: 100%;
}

#info .emailUs button {
   width: 100%;
   outline: none;
   padding: 4%;
   border-radius: 5px;
   border: none;
   background-color: #ce93d8;
   color: var(--white);
   transition: background-color 0.25s, color 0.25s;
}

#info .emailUs button:hover {
   background-color: rgb(169, 184, 195);
   color: hsl(240, 35%, 22%);
}

/* News Letter */

#info .newsletter p {
   margin-bottom: 6%;
}

#info .stick {
   position: relative;
}

#info .newsletter button {
   background-image: url(img/forward-svgrepo-com.svg);
   background-color: #ce93d8;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 60%;
   border-radius: 0px 5px 5px 0px;
   border: none;
   padding: 7%;
   transition: background-color 0.25s;
   position: absolute;
   top: -78px;
   right: 0px;
}

#info .newsletter button:hover {
   background-color: #350058;
}

#info .newsletter span {
   opacity: 0.5;
}

/* Copy Right Section............................................... */

#cRight {
   background-color: rgb(14, 11, 44);
}

#cRight .container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   height: 150px;
}

/* Codex */
#cRight .codex,
.links,
.icons {
   margin-top: 20px;
   margin-bottom: 20px;
   vertical-align: middle;
   color: #99a9b5;
   ;
}

#cRight .codex span>a {
   color: #ce93d8;
   font-size: 100%;
}


#cRight .codex>span {
   /* color:  #428bca; */
}

#cRight .codex span>a:hover {
   text-decoration: underline;
}

/* Links */
#cRight .links {
   width: 45%;
}



#cRight .links a {
   /* color:  #428bca; */
   transition: color 0.25s;
}

#cRight .links a:hover {
   color: #ce93d8;

}

#cRight .links a {
   border-right: 1px solid #428bca;
   padding: 0% 5% 0% 5%;
}

#cRight .links a:last-of-type {
   border: none;
}

/* Icons */

#cRight .icons a svg {
   transition: fill .5s;
}

#cRight .icons a svg:hover {
   fill: #ffff;
}

#cRight .icons a:nth-of-type(4) svg>path:hover {
   fill: #ffff;
}

.hoursHere iframe{
   width: 99.8%;
}


/* section fixed */

#section-fixed {

   position: fixed;
   right: 0;
   bottom: 15%;
}

#section-fixed>div {
   text-align: right;
}

#section-fixed>div>div:nth-of-type(1) {
   display: inline-block;
   width: 200px;
   height: 60px;
   background-color: #06060f86;
   text-align: center;
   vertical-align: middle;
}

#section-fixed>div>div:nth-of-type(1) p {
   font-size: 13px;
   margin-top: 17px;
   color: white;
}

#section-fixed>div>div:nth-of-type(2) {
   display: inline-block;
   width: 90px;
   height: 60px;
   background-color: rgb(0, 0, 0);
   vertical-align: middle;
   text-align: center;
   position: relative;

}

#section-fixed>div>div:nth-of-type(2):hover {
   transition-duration: 0.5s;
   background-color: white;
}

#section-fixed>div>div:nth-of-type(2) span {
   color: white;
   position: absolute;
}

#section-fixed>div>div:nth-of-type(2) span:nth-of-type(1) {
   top: 15%;
   right: 25%;
}

#section-fixed>div>div:nth-of-type(2) span:nth-of-type(2) {
   top: 50%;
   right: 15%;
}

#section-fixed>div>div:nth-of-type(2):hover span {
   transition-duration: 0.5s;
   color: black;
}

#section-fixed>div>div:nth-of-type(3) {
   width: 90px;
   height: 60px;
   background-color: #00bcd4;
   text-align: center;
   display: inline-block;
}

#section-fixed>div>div:nth-of-type(3):hover {
   background-color: black;
   transition-duration: 0.5s;
}

#section-fixed>div>div:nth-of-type(3):hover span {
   color: white;
   transition-duration: 0.5s;
}

#section-fixed>div>div:nth-of-type(3)>span {
   font-size: 14px;
}

#section-fixed>div>div:nth-of-type(4)>a {
   width: 60px;
   height: 60px;
   background-color: #06060f86;
   display: inline-block;
   margin-right: 30px;
   text-align: center;

}


#section-fixed>div>div:nth-of-type(4)>a>svg {
   margin-top: 24px;
}

/* svgs section-fixed  ......... */
#section-fixed>div>svg:nth-of-type(1) {
   margin: 0px 0 -8px -4px;
}

#section-fixed>div>div:nth-of-type(3)>svg {
   margin-top: 10px;
}


#map iframe {
   width: 99.8%;
}