#our-works{
    background-color: #23254c;
}
.list-our-works{
    text-align: center;
}
.list-our-works ul li{
    list-style: none;
    display: inline-block;
  margin: 10px 10px 50px 0 ;
    
}
.list-our-works a{
    border: 1 solid #543975;
    border-radius: 50px;
    background-color: #543975;
    padding: 10px 35px;
    text-decoration: none;
    color: #ffff;
    font-size: 14px;
    transition: background .4s;
}
.list-our-works a:active{
    background-color: #ce93d8;
}
.list-our-works a:hover{
    background-color: #863b93;
}
/* box start🎈🎈🎆🎈🎈🎇🎇🎇🎇🎇 */
.box-our-works{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 110px;
    color: #ffff;
    margin: 0 auto;
    transition: transform 1s;
    transform: rotateY('100%');
}
.box-our-works>div{
    width: 411.5px;
    height: 252px;
    position: relative;
}
.box-our-works>div img{
    width: 100%;
    height: 100%;
}
.box-our-works>div>div:first-of-type{
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-55%,-55%); */
    /* bottom: 0;
    right: 0; */
    opacity: 1;
    width: 0px;
    height: 0px;
    transition: all .2s linear;
    border-radius: 100%;
}
.box-our-works>div:hover div:first-of-type{
    background: linear-gradient(to right, rgba(0,188,212,.75) 0%,rgba(53,64,147,.75) 100%);
     opacity: 1;
     position: absolute;
    top: 0;
    left: 0;
    transform: translate(0,0);
    /* bottom: 0;
    right: 0; */
    width: 411.5px;
    height: 250px;
    border-radius: 0;
}
.box-our-works>div>div:nth-of-type(2) svg{
transition: all .2s ease-in-out;
transform: translate(20px,-60px);
opacity: 0;
margin-right: 5px;
border-bottom: 1 solid #ffff;
vertical-align: middle;
}
.box-our-works>div:hover>div:nth-of-type(2) svg{
    opacity: 1;
    transform: translate(20px,-230px);
}
.box-our-works>div>div:nth-of-type(2) svg:nth-of-type(1){
    transition-delay: .02s;
}
.box-our-works>div>div:nth-of-type(2) svg:nth-of-type(2){
    transition-delay: .04s;
}
.box-our-works>div>div:nth-of-type(2) svg:nth-of-type(3){
    transition-delay: .06s;
}
.box-our-works>div>div:nth-of-type(2) svg:nth-of-type(4){
    transition-delay: .08s;
}
.svg-border{
    top: 73px;
    left: 17px;
    position: absolute;
    height: 3px;
    width: 0;
background-color: #ffff;
opacity: 0;
transition: width .2s ease-out;
}
.box-our-works>div:hover .svg-border{
opacity: 1;
width: 90%;
}
.box-our-works>div>div:nth-of-type(4){
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 18px;
}
/* box end🎇🎆🎆🎈🎈🎈🎈🎈🎈 */
/* section our works END.......................... */