:root {
    scroll-behavior: smooth;
}

/* general codes star/////////////////// */
body {
    margin: 0;
    font-family: "monospace", sans-serif;
}
@font-face {
    font-family: monospace;
    src: url(fonts/Montserrat/);
}

a {
    text-decoration: none;
}

header a {
    height: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
/* general codes end/////////////// */

header{
    background-image: url(image/3-7.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    height: 1000px;
}
header>.container{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #ffff;
}
/* div-top-header */
#div-top-header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    /* height: 250px; */
    margin-bottom: 200px;
}

#div-top-header h1 {
    margin: 0;
    font-size: 15px;
    padding: 5px 15px;
    color: white;
}

/* div-left-header */

.div-left-header {
    display: flex;
    padding-top: 10px;
}

/* animation-ul-flag-icon-header */

@keyframes ul-flag-icon-header {
    0% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        transform: translateY(-30px);
    }
}

/* icon-flag-header */

.icon-flag-header {
    width: 20px;
    margin-top: 5px;
}

#div-top-header>ul>li:hover>ul {
    animation-name: ul-flag-icon-header;
    animation-duration: 0.7s;
    display: inline-block;
    animation-fill-mode: forwards;
}

/* a-top-flag-header */

.a-top-flag-header {
    margin-top: 5px;
}


/* ul-flag-icon-header */

.ul-flag-icon-header {
    padding-left: 0;
    margin-left: -15px;
    width: 50px;
    background-color: white;
    display: inline-block;
    display: none;
    visibility: hidden;
}

/* li-flag-icon-header */

.li-flag-icon-header {
    
    padding: 5px;
    margin-left: 9px;
    display: inline-block;
}

.icon-flag-header.top {
    display: flex;
}

/* div-right-header */

.div-right-header {
    display: flex;
    padding-top: 10px;
}

/* icon-menu icon-search */

.icon-search,
.icon-menu {
    width: 25px;
}

.a-icon-search,
.a-icon-menu {
    padding: 0 10px;
}

/* ul & li header */

#div-top-header>div>ul>li:hover>ul{
    display: inline-block;
    animation-name: ul-flag-icon-header;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    }

#div-top-header>div>ul>li>a>h1{
    padding-bottom: 20px;
}

#div-top-header>div>ul{
    position: relative;
}

#div-top-header>div>ul>li>ul{
    position: absolute;
    left: 0;
    top: 170%;
    display: none;
}

#div-top-header>div>ul>li>ul>a>li{
    color: #000000;
    padding: 20px 120px 20px 20px;
    width: 100px;
    background-color: rgb(245, 245, 245);
}

#div-top-header>div>ul>li>ul>a>li:hover{
    background-color: white;
}
/* div-header-top end............ */

.title-header{
   width: 615px;
    margin: 0 auto;
    margin-bottom: 40px;
    line-height: 37px;
}
.title-header span{
    font-size: 90px;
    margin-right: 20px;
}
.title-header span:nth-of-type(2){
    font-weight: bold;
}
.paragraph-header{
    font-size: 20px;
    padding-bottom: 80px;
    max-width: 940px;
}
/* section header end🎇🎆🎆🎆🎆 */

/* main start........................ */
#our-works{
    background-color: #23254c;
}
.list-our-works{
    text-align: center;
}
.list-our-works ul{
    margin: 0;
}
.list-our-works ul li{
    list-style: none;
    display: inline-block;
  margin: 10px 10px 50px 0 ; 
}
.list-our-works a{
    border: 1 solid #543975;
    border-radius: 50px;
    background-color: #543975;
    padding: 10px 35px;
    text-decoration: none;
    color: #ffff;
    font-size: 14px;
    transition: background .4s;
}
.list-our-works a:active{
    background-color: #ce93d8;
}
.list-our-works a:hover{
    background-color: #863b93;
}
/* box start🎈🎈🎆🎈🎈🎇🎇🎇🎇🎇 */
.box-our-works{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 110px;
    color: #ffff;
    margin: 0 auto;
}
.box-our-works>div{
    width: 33.3%;
    max-width: 450px;
    min-width: 300px;
    height: 252px;
    position: relative;
    animation: start 1s;
    animation-fill-mode: backwards;
}
/* animation for box start........... */
@keyframes start {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.box-our-works>div:nth-of-type(2){
    animation-delay: .1s
}
.box-our-works>div:nth-of-type(3){
    animation-delay: .2s;
}
.box-our-works>div:nth-of-type(4){
    animation-delay: .3s;
}
.box-our-works>div:nth-of-type(5){
    animation-delay: .4s;
}
.box-our-works>div:nth-of-type(6){
    animation-delay: .5s;
}
.box-our-works>div:nth-of-type(7){
    animation-delay: .6s;
}
.box-our-works>div:nth-of-type(8){
    animation-delay: .7s;
}
.box-our-works>div:nth-of-type(9){
    animation-delay: .8s;
}
.box-our-works>div:nth-of-type(10){
    animation-delay: .9s;
}
.box-our-works>div:nth-of-type(11){
    animation-delay: 1s;
}
.box-our-works>div:nth-of-type(12){
    animation-delay: 1.1s;
}
.box-our-works>div img{
    width: 100%;
    height: 100%;
}
.box-our-works>div>div:first-of-type{
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-55%,-55%); */
    /* bottom: 0;
    right: 0; */
    opacity: 1;
    width: 0px;
    height: 0px;
    transition: all .2s linear;
    border-radius: 100%;
}
.box-our-works>div:hover div:first-of-type{
    background: linear-gradient(to right, rgba(0,188,212,.75) 0%,rgba(53,64,147,.75) 100%);
     opacity: 1;
     position: absolute;
    top: 0;
    left: 0;
    transform: translate(0,0);
    /* bottom: 0;
    right: 0; */
    width: 100%;
    height: 250px;
    border-radius: 0;
}
.box-our-works>div>div:nth-of-type(2) svg{
transition: all .2s ease-in-out;
transform: translate(20px,-60px);
opacity: 0;
margin-right: 20px;
/* border-bottom: 1 solid #ffff; */
vertical-align: middle;
}
.box-our-works>div>div:nth-of-type(2) svg:hover{
    width: 9%;
    height: 9%;
}
.box-our-works>div:hover>div:nth-of-type(2) svg{
    opacity: 1;
    transform: translate(20px,-230px);
}
.box-our-works>div>div:nth-of-type(2) svg:nth-of-type(1){
    transition-delay: .02s;
}
.box-our-works>div>div:nth-of-type(2) svg:nth-of-type(2){
    transition-delay: .04s;
}
.box-our-works>div>div:nth-of-type(2) svg:nth-of-type(3){
    transition-delay: .06s;
}
.box-our-works>div>div:nth-of-type(2) svg:nth-of-type(4){
    transition-delay: .08s;
}
.svg-border{
    top: 73px;
    left: 17px;
    position: absolute;
    height: 3px;
    width: 0;
background-color: #ffff;
opacity: 0;
transition: width .2s ease-out;
}
.box-our-works>div:hover .svg-border{
opacity: 1;
width: 90%;
}
.box-our-works>div>div:nth-of-type(4){
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 18px;
}
/* box end🎇🎆🎆🎈🎈🎈🎈🎈🎈 */
/* section our works END.......................... */

/* section get in touch start nemikham noooooooooo */
#get-in-touch{
    background-image: url(image/bg_contact.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    height: 1800px;
}
#get-in-touch>.container{
    width: 1200px;
    min-width: 500px;
    height: 1000px;
    margin: 0 auto;
}
.title-get-in-touch {
    color: #ffff;
    width: 35%;
    min-width: 200px;
    text-align: center;
    margin: auto;
    padding-top: 140px;
}
.title-get-in-touch span{
    font-size: 50px;
    margin-right: 13px;
}
.title-get-in-touch span:nth-of-type(2){
    font-weight: bold;
}
.paragraph-get-in-touch{
    padding-top: 30px;
    line-height: 37px;
    margin-bottom: 100px;
}
.input-box{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 600px;
}
.top-input{
    width: 25%;
    padding: 13px 29px;
    background-color:#23254c;
    color: #99a9b5;
    margin-right: 30px;
    margin-bottom: 20px;
    border: none;
    outline: none;
}
.bottom-input{
    width: 92.3%;
    max-width: 1200px;
    margin-right: 30px;
   padding: 13px 10px 250px 23px;
    color: #99a9b5;
    background-color:#23254c;
    margin-bottom: 50px;
    border: none;
    outline: none;
}
.last-input{
    padding: 15px 20px;
    background-color: #ce93d8;
    color: #ffff;
    font-size: 18px;
    font-weight: 400;
    border: none;
    transition-duration: .3s;
}
.last-input:hover{
    background-color: #fff;
    color: #ce93d8;
}
.title-svg{
    font-size: 20px;
    color: #ffff;
    margin-bottom: 70px;
}
.svg-team svg{
    width: 48px;
    height: 48px;
    margin-right: 20px;
}
.svg-team svg:hover{
    fill: #428bca;
}


/* Footer Start...................................................... */
/* Map Section............................................... */

.container {
    width: 1200px;
    margin: 0 auto;
 }

#map {
    position: relative;
    height: 800px;
}

#map iframe {
    width: 100%;
    height: 100%;
}

#map .whiteBackground {
    background-color: var(--white);
    opacity: 0.95;
    width: 100%;
    height: 30%;
    position: absolute;
}

#map .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#map span {
    color: rgb(165, 165, 165);
}

#map img {
    width: 70%;
}

#map .hoursHere {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#map .hoursHere>div:first-of-type {
    width: 20%;
    margin-bottom: 7%;
}



/* Info Section............................................... */

#info {
    background-image: radial-gradient(circle, rgba(101, 52, 146, 0.911),
            hsl(240, 35%, 22%), rgba(101, 52, 146, 0.911));
    height: 750px;
}

#info .container {
    height: 750px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#info .container>div {
    width: 30%;
    height: 100%;
    margin-top: 25%;
}

/* Gem Logo */

#info img {
    width: 42%;
    margin-top: 10%;
}

#info .gemLogo p {
    width: 100%;
    margin-top: 15%;
}

/* Email Us + News Letter > Input */

#info input:focus,
#info textarea:focus {
    color: var(--white);
}

#info form>input,
#info textarea,
#info .newsletter>input {
    background-color: rgb(102, 83, 135);
    border: 1px solid rgb(162, 156, 183);
    outline: none;
    padding: 4%;
    border-radius: 5px;
    /* font-family: 'Montserrat'; */
    width: 100%;
    font-size: 60%;
    margin-bottom: 8%;
}

/* Email Us */

#info textarea {
    resize: both;
    overflow: hidden;
    max-width: 100%;
}

#info .emailUs button {
    width: 100%;
    outline: none;
    padding: 4%;
    border-radius: 5px;
    border: none;
    background-color: #ce93d8;
    color: var(--white);
    transition: background-color 0.25s, color 0.25s;
}

#info .emailUs button:hover {
    background-color: rgb(169, 184, 195);
    color: hsl(240, 35%, 22%);
}

/* News Letter */

#info .newsletter p {
    margin-bottom: 6%;
}

#info .stick {
    position: relative;
}

#info .newsletter button {
    background-image: url(image/forward-svgrepo-com.svg);
    background-color: #ce93d8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border-radius: 0px 5px 5px 0px;
    border: none;
    padding: 6%;
    transition: background-color 0.25s;
    position: absolute;
    top: -72px;
    right:-30px;
}

#info .newsletter button:hover {
    background-color: #350058;
}

#info .newsletter span {
    opacity: 0.5;
}

/* Copy Right Section............................................... */

#cRight {
    background-color: rgb(14, 11, 44);
}

#cRight .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 150px;
}

/* Codex */
#cRight .codex,
.links,
.icons {
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    color: #99a9b5;
    ;
}

#cRight .codex span>a {
    color: #ce93d8;
    font-size: 100%;
}


#cRight .codex>span {
    /* color:  #428bca; */
}

#cRight .codex span>a:hover {
    text-decoration: underline;
}

/* Links */
#cRight .links {
    width: 45%;
}



#cRight .links a {
    /* color:  #428bca; */
    transition: color 0.25s;
}

#cRight .links a:hover {
    color: #ce93d8;

}

#cRight .links a {
    border-right: 1px solid #428bca;
    padding: 0% 5% 0% 5%;
}

#cRight .links a:last-of-type {
    border: none;
}

/* Icons */

#cRight .icons a svg {
    transition: fill .5s;
}

#cRight .icons a svg:hover {
    fill: #ffff;
}

#cRight .icons a:nth-of-type(4) svg>path:hover {
    fill: #ffff;
}


:root {
    --white: #fcfcfc;
}


footer p,
footer a,
footer span,
footer li,
footer h1,
footer h2,
footer h3 {
    color: var(--white);
    text-decoration: none;
}

footer h2 {
    font-size: 100%;
}



footer p,
footer a,
footer span,
footer li {
    font-size: 57.75%;
}

footer p {
    line-height: 200%;
    margin: 0%;
}


/* section fixed */

#section-fixed {

    position: fixed;
    right: 0;
    bottom: 15%;
}

#section-fixed>div {
    text-align: right;
}

#section-fixed>div>div:nth-of-type(1) {
    display: inline-block;
    width: 200px;
    height: 60px;
    background-color: #06060f86;
    text-align: center;
    vertical-align: middle;
}

#section-fixed>div>div:nth-of-type(1) p {
    font-size: 13px;
    margin-top: 17px;
    color: white;
}

#section-fixed>div>div:nth-of-type(2) {
    display: inline-block;
    width: 90px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    vertical-align: middle;
    text-align: center;
    position: relative;

}

#section-fixed>div>div:nth-of-type(2):hover {
    transition-duration: 0.5s;
    background-color: white;
}

#section-fixed>div>div:nth-of-type(2) span {
    color: white;
    position: absolute;
}

#section-fixed>div>div:nth-of-type(2) span:nth-of-type(1) {
    top: 15%;
    right: 25%;
}

#section-fixed>div>div:nth-of-type(2) span:nth-of-type(2) {
    top: 50%;
    right: 15%;
}

#section-fixed>div>div:nth-of-type(2):hover span {
    transition-duration: 0.5s;
    color: black;
}

#section-fixed>div>div:nth-of-type(3) {
    width: 90px;
    height: 60px;
    background-color: #00bcd4;
    text-align: center;
    display: inline-block;
}

#section-fixed>div>div:nth-of-type(3):hover {
    background-color: black;
    transition-duration: 0.5s;
}

#section-fixed>div>div:nth-of-type(3):hover span {
    color: white;
    transition-duration: 0.5s;
}

#section-fixed>div>div:nth-of-type(3)>span {
    font-size: 14px;
}

#section-fixed>div>div:nth-of-type(4)>a {
    width: 60px;
    height: 60px;
    background-color: #06060f86;
    display: inline-block;
    margin-right: 30px;
    text-align: center;

}


#section-fixed>div>div:nth-of-type(4)>a>svg {
    margin-top: 24px;
}

/* svgs section-fixed  ......... */
#section-fixed>div>svg:nth-of-type(1) {
    margin: 0px 0 -8px -4px;
}

#section-fixed>div>div:nth-of-type(3)>svg {
    margin-top: 10px;
}